body{

}




@media (min-width: 320px) { 
	.nav{
		border-bottom: 4px solid red;

	}
	

.img2{
 		display: none;
}
.a{  font-weight: 900;
   font-size: 2rem;
    color: rgba(225,27,34,1);
    padding-left: 20px;
    margin-top: 0px;
}
.b{
	text-align: justify-all;
	padding-left: 20px;
}
.c{
	height: 160px !important;
	width: 100%;
}
	
	.card{
height: 490px !important;
	}

	.d{
		font-size: 2rem;
	}

.icon {
	float: right;
	border:3px  ;
	font-size: 22px;
	color: blue;
	padding: 1px 15px;

}


}




@media (min-width: 768px) { 
	.a{
		  
		 font-size: 3.2rem;
		 
	}
	.img2{
		display: inline-block;
	}
	.d{
		font-size: 3.6rem;
	}  
	.img{
		width:   %;
	}
 }


@media (min-width: 992px) { 


 }


@media (min-width: 1200px) { ... }
